.magic{
    color: green;
}
.div-magic{
    background-color: black;
}
.no-magic{
    color: white;
}
.div-no-magic{
    background-color: red;
}
.default{
    color: #fbfbfb;
}
.div-default{
    background-color: #333333;
}